/*Home Page*/
body
{
	margin: 0;
	padding: 0;
	text-align: left;
	font: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #061C37;
	background-color: #cce6ff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000
;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

	}
{
  margin: 0 auto 0 auto;
 text-align:left;}

h1
{
  font-family: arial;
  font-size: 32px;
  color: #000000;
  text-align: center;
  font-weight: bold;
}

p
{
  font-size: 24px;
  font-family: arial;
  color: #ffffe6;
  text-align: center;
  font-weight: bold;
}


/*CSS for Responsive Pricing table*/


	{
  box-sizing: border-box;
}


/* Create three columns of equal width */
.columns {
  float: left;
  width: 31.5%;
  padding: 8px;
}

/* Style the list */
.price {
  list-style-type: none;
  border: 1px solid #808080;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

/* List items */
.price li {
  border-bottom: 1px solid #2F4F4F;
  padding: 25px;
  text-align: center;
	color:white
}

/* Grey list item */
.price .grey {
  background-color: #2F4F4F;
  font-size: 20px;
}

/* The "Book" button */
.button {
  background-color: #2F4F4F;
  border: none;
  color: white;
  padding: 25px 113px;
  text-align: center;
  font-size: 18px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}


/*BookingForm Page Margin*/
div {
  padding-top: 50px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-left: 80px;
}

/*BookingForm */

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #00000;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
