

body
{
	margin: 0;
	padding: 0;
	text-align: left;
	font: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #061C37;
	background-color: #cce6ff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff99bb
;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

	}
{
  margin: 0 auto 0 auto;
 text-align:left;}

h1
{
  font-family: arial;
  font-size: 32px;
  color: #3d0066;
	text-align: center;
	text-shadow: 2px 2px #ecb3ff;
}

p
{
  font-size: 24px;
  font-family: arial;
  color: #b84dff
;
  text-align: center;
  font-weight: bold;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

table {
	align: center;
}

th, td, td1 {
  padding: 15px;
}

th {
  text-align: left;
}
